@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #fff;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    opacity: 0; /*bodyの中の要素を非表示にします*/ 
    transition: opacity 4s ease; /*表示させるスピード*/
}

body.active {
    opacity: 1;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}
html{
    /* フォントサイズの正確に */
    -webkit-text-size-adjust: 100%;
    /* 文字をシャープに */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* カーニングとリガチャ（合字）を調整 */
    text-rendering: optimizeLegibility;
}

.wrapper {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
}

/*-------header-------*/
#header {
    height: 100px;
    padding: 40px;
}

#header .nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .nav ul li {
    padding-left: 40px;
    font-size: 20px;
    letter-spacing: 1.5px;
}

a {
    position: relative;
}

#header a::after {
    position: absolute;
    left: 0;
    bottom: 5; /*文字と線の距離*/
    display: block;
    content: "";
    width: 0%;
    height: 2px; /*線の太さ*/
    background-color: #fff;
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#header a:hover::after {
    width: 100%;
}


/*-------nainvisual--------*/
#mainvisual {
    height: 600px;
    background-image: url(mainvisual.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 100px;
}

#mainvisual .mainvisual-content {
    position: absolute;
    top: 55%;
    right: 50%;
}
#mainvisual .title {
    font-size: 60px;
    font-family:-apple-system, "system-ui", "Helvetica Neue", "Segoe UI", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Arial, Meiryo, sans-serif;
    letter-spacing: 2px;
}

#mainvisual .mainvisual-content p {
    font-size: 15px;
}

/*--------About-------*/
#about {
   margin-bottom: 150px;
}

#about .about-container {
    display: flex;
    text-align: left;
    align-items: baseline;
    gap: 80px;
    padding-left: 30px; 
    width: 100%;
    margin: 0 auto;
}

#about .about-content {
    width: 50%;
}

#about .about-content p {
    white-space: pre-line;
}

#about .about-items {
    width: 50%;
}

.about-content p {
    font-family: 'La Belle Aurore', cursive;
    font-family: 'Noto Serif JP', serif;
}

#about .about-title {
    position: relative;
    padding-left: 15px;
    margin-bottom: 30px;
}

#about .about-title::after {
    position:absolute;
    margin-bottom: 20px;
    font-size: 25px;
    content:"";
    display:inline-block;
    width: 3px;/*線の太さ*/
    height: 40px; /*線の長さ*/
    background-color:#fff;
    top: -1px;
    left: -2px;
}


#about .about-item {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 2;
}

#about .about-items p {
    white-space: pre-line;
}
.section-title {
    position: relative;
    padding: 1rem;
    text-align: center;
    color: #fff;
    font-size: 35px;
    margin-bottom: 90px;
    letter-spacing: 1px;
}
   
.section-title:before {
    position: absolute;
    bottom: 1px; /*文字と線の間の幅*/
    left: calc(50% - 40px); /*下線の場所*/
    width: 80px; /*下線の長さ*/
    height: 2px; /*下線の厚み、高さ*/
    content: '';
    border-radius: 3px;
    background: #fff;
}

/*------work------*/
#work {
    margin-bottom: 150px;
}

.work-container {
   display: grid;
   grid-template-columns: repeat(2,1fr);
   text-align: center;
   gap: 50px;
} 
.work-container1 {
    text-align: center;
    margin-top: 60px;
}
.work-container p {
    padding-top: 20px;
}

.work-content img {
    width: 500px;

}

/*ふわっと画像を表示させる*/
.work-content {
    opacity: 0;
    transform: translateY(-50px); /*50px上からフェードインしてくる*/
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
  .work-content.fade-in-active {
    opacity: 1;
    transform: translateY(0%);
  }

img{
  transition: box-shadow .2s;
}
img:hover{
  box-shadow: 0 0 50px white;
}

/*------footer-----*/
#footer {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer .nav ul {
    display: flex;
}

#footer .nav ul li {
    margin-left: 30px;
    font-size: 20px;
    letter-spacing: 1.5px;
}

#footer .nav ul li a:hover {
    opacity: 0.7;
}

#footer .footer-footer {
    font-size: 10px;
}

@media screen and (max-width: 767px) {
    #header {
       text-align: center;
    }

    #mainvisual .mainvisual-content {
        top: 65%;
        right: 30%;
    }

    #mainvisual .mainvisual-content .title {
        font-size: 40px;
    }

    /*----about---*/
    #about .about-container {
        padding: 0 15%;
        flex-direction: column;
    }

    #about .about-title {
        font-size: 25px;
        font-weight: bold;
    }

    #about .about-container p {
        margin-top: -20px;
        font-size: 15px;
        font-weight: normal;
    }

    #about .about-items {
        width: 100%;
    }

    #about .about-content {
        width: 100%;
        margin-bottom: 100px;
    }

    /*----work----*/
    #work img {
        width: 100%;
    }

    #work .work-container {
        grid-template-columns: repeat(1,1fr);
        padding: 0 4%;
    }

    #work .work-content {
        margin-bottom: 40px;
        
    }

    #footer {
        flex-direction: column;
        text-align: center;
    }

    #footer .footer-footer {
        margin-top: 70px;
    }

}

@media screen and (max-width: 599px) {

    #header .nav ul {
        margin-right: 40px;
    }

    #mainvisual .mainvisual-content {
        width: 100%;
        top: 63%;
        text-align: right;
    }

    #mainvisual .mainvisual-content .title {
        font-size: 30px;
    }
    #mainvisual .mainvisual-content p{
        font-size: 10px;
    }

   /*---about---*/
    #about .about-container {
        margin-bottom: -40px;
        padding: 0 6%;
    }

    #about .about-content {
        margin-bottom: 20px;
        width: 100%;
    }

    #about p {
        margin-top: -40px;
        margin-bottom: 60px;
    }

    #about .about-items {
        margin-top: -40px;
        width: 100%;
    }

    /*----work---*/
    #work img {
        width: 100%;
    }

    #work .work-container {
        grid-template-columns: repeat(1,1fr);
        padding: 0 4%;
    }

    #work .work-container .work-content  {
        margin-right: 30px;
        width: 100%;
    }

    #footer .nav ul {
        margin-right: 40px;
    }


    #footer .nav ul li {
        margin-right: -10px;
        font-size: 12px;
        margin-bottom: 20px;
    }

    #footer .footer-footer {
        padding-bottom: 15px;
        font-size: 10px;
    }

    #footer .footer-footer p {
        font-size: 7px;
    }
}

@media screen and (max-width: 399px) {
    #header .nav ul {
        margin-right: 40px;
    }

    /*---mainvisual----*/
    #mainvisual .mainvisual-content {
        width: 100%;
        top: 63%;
        text-align: right;
    }

    #mainvisual .title {
        margin-right: 55px;
    }

    #mainvisual .mainvisual-content .title {
        font-size: 30px;
    }

    /*---about---*/
    #about .about-container {
        margin-bottom: -40px;
        padding: 0 40px;
    }

    #about .about-content {
        margin-bottom: 20px;
        width: 100%;
    }

    #about .about-content {
        width: 100%;
    }
    #about p {
        margin-top: -40px;
        margin-bottom: 60px;
    }

  
    /*---work---*/
    #work img {
        width: 100%;
    }

    #work .work-container {
        grid-template-columns: repeat(1,1fr);
        padding: 0 4%;
    }

    #work .work-container .work-content  {
        margin-right: 30px;
        width: 100%;
    }

    #footer .nav ul {
        margin-right: 40px;
    }

    #footer .nav ul li {
        margin-right: -10px;
        font-size: 12px;
        margin-bottom: 20px;
    }

    #footer .footer-footer {
        padding-bottom: 15px;
        font-size: 10px;
    }

    #footer .footer-footer p {
        font-size: 7px;
    }
        
}


